/* COLOR SHEME (CHANGE WHEN DONE FIXING CODE)
Leaf Green (#4CAF50 or #79C45E)

Herb Green (#2E7D32)

Soft Beige (#F5F1E3)

Warm Brown (#8B6F47)
*/

/* general formatting */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    color: black;
}
a:hover {
    color: dodgerblue;
    background-color: yellow;
}
/* navbar */
nav {
    padding: 0;
    border: 1px solid red;
}
nav > ul > li > a {
    background-color: lightslategray;
    color: white;
    text-decoration: none;
    font-size: x-large;
}
nav > ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
}

/* hero image stuff */
.hero {

}
.heroimage
.od1 {
    order: -1;
}
.od2 {
    order: 1;
}


/* purchase info */
.buylist {
    display: flex;
}
.purchase {
    display: flex;
    background-color: lightblue;
    width: 30%;
    border: 3px solid gray;
    padding: 1rem;
    margin: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.buybutton {
    background-color: lightgreen;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}
img {
    border: 1px solid gray;
    border-radius: 15px;
}

.textbox {
    width: 60%;
    height: 600px;
}
.submit {
    width:60%;
    height: 50px;
    color: white;
    background-color: lightslategray;
    border-width: 1px;
    font-size: x-large;
}
.links {
    color: aquamarine;
    background-color: lightgreen;
}
.seeall:hover {
    background-color: yellow;
    color: dodgerblue;
}


.thatimage {
    width: auto;
    display: block;
    margin: auto;
    width: 80%;
}
section > ul > li {
    margin: 2;
    list-style-type: none;
    display: inline-block;
}
.logo {
    user-select: none;
    background-color: transparent;
}
.formfile {
    font-size: larger;
    font-style: oblique;
}
.formfile > a {
    background-color: lime;
}
.seeall {
    width: 90%;
    height: 50px;
    background-color: limegreen;
    color: white;
}

.formfile > a:hover {
    background-color: yellow;
}
.buybutton:hover {
    background-color: yellow;
}
.boutton {
    background-color: white; 
    width: 40%; 
    height: 35px;
}
.boutton:hover {
    background-color: yellow;
    color: dodgerblue;
}
.aboutus {
    background-image: url(images/nicenature-notthehorse.webp); 
    padding: 13%; 
    margin: auto;
    font-size: larger; 
    text-align: center;
}

/* footer  */
footer {
    background-color: aqua;
    text-align: right;
    width:100%;
    height: 75px;
}