/* COLOR SHEME (CHANGE WHEN DONE FIXING CODE)
Leaf Green (#4CAF50 or #79C45E)

Herb Green (#2E7D32)

Soft Beige (#F5F1E3)

Warm Brown (#8B6F47)
*/

/* general formatting */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    color: black;
}
a:hover {
    color: dodgerblue;
    background-color: yellow;
}
img {
    border: 1px solid #F5F1E3;
    border-radius: 15px;
}
.center {
    text-align: center;
}

/* navbar */
nav {
    position: fixed;
    padding: 0;
    width: 100%;
    background-color: #8B6F47;
    margin-bottom: 10%;
    margin-top: 0px;
}
nav > ul > li > a {
    background-color: #2E7D32;
    color: white;
    padding: 2% 0%;
    text-decoration: none;
    font-size: 2em;
}

@keyframes wonderhoy {
        from {background-color: #2E7D32; color: white;}
        to {background-color: #79C45E; color: #8B6F47;}
    }

nav > ul > li > a:hover {
   animation: wonderhoy 1s forwards; 
}
nav > ul > li > a.logo {
    animation: none;
}
nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
img[src="images/gpt-bioshield-image.png"] {
    border: none;
}
a.logo:hover {
   background-color: transparent;
}

.logo {
    user-select: none;
    align-self: flex-end;
    background-color: transparent;
}


/* hero image stuff */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8B6F47;
}
.heroimage {
    width: 100%;
}
.od1 {
    order: -1;
    padding-left: 4%;
    width: 50%;

}
.od2 {
    order: 1;
    width: 40%;
}
.boutton {
    background-color: white;
    font-size: 1.25em; 
    padding: 2% 10%;
    text-decoration: none;
    color: black;
    width: 40%; 
    height: 35px;
}

/* purchase info */
.items {
    display: flex;
    flex-wrap: wrap;
}
.purchase {
    display: flex;
    background-color: lightblue;
    width: 30%;
    border: 3px solid #F5F1E3;
    padding: 1rem;
    margin: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.buybutton {
    background-color: lightgreen;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}
.buybutton:hover {
    background-color: #79C45E;
    color: #FFF;
}
.seeall {
    width: 90%;
    padding: 15px 30%;
    height: 50px;
    background-color: limegreen;
    text-decoration: none; 
    color: white;
}
.all {
    margin: 25px 0px;
}

/* contact us form */

.emailname {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emailname > input {
    width: 42.5%;
    height: 30px;
    margin: 10px;
    font-size: 1.5em;
}
input[id="complaint"] {
    width: 80%;
    height: 150px;
    margin: 10px;
    font-size: 1.5em;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8B6F47;
    padding: 3%;
}
.submit {
    width:60%;
    height: 50px;
    color: white;
    background-color: #F5F1E3;
    border-width: 1px;
    font-size: 2em;
}

.space {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
img[alt="cute bug smiling illustration free vector"] {
    width: 50%;
    margin-top: 20px;
    border: none;
}

/* contact us */

.formfile {
    font-size: 1.75em;
    font-style: oblique;
    justify-self: center;
    text-align: center;
    background-color: antiquewhite;
    width: 50%;
    padding: 3%;
    margin: 10% 0%;
}
.formfile > a {
    background-color: lime;
}
.social {
    display: flex;
    padding: 3%;
    background-color: #2E7D32;
    margin: 5% 0%;
}
.social > img {
    height: 50px;
    border: none;
}


/* about us page */
.aboutus {
    background-image: url(images/nicenature-notthehorse.webp); 
    padding: 13%; 
    margin: auto;
    font-size: larger; 
    text-align: center;
}
.autext {
    background-color: #F5F1E3; 
    opacity: 0.8; 
    padding: 2%;
}
.part {
    display: flex;
}
.part3 > .thatimage {
    order: -1;
}
.part4 > .story {
    text-align: end;
}
.part5 > .story {
    text-align: right;
}
.part6 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    justify-self: center;
}
.part6 .story {
    width: 100%;
    background-color: #79C45E;
}
.thatimage {
    width: 60%;
}
.story {
    width: 40%;
    opacity: 0.8;
    padding: 2%;
    align-self: center;
}
.part {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #F5F1E3;
}
.part:nth-child(even) {
    background-color: #F5F1E3;
}
.part:nth-child(odd) {
    background-color: #79C45E;
    color: white;
}


/* footer  */
footer {
    background-color: darkgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 75px;
    margin-top: 15%;
}
small {
    font-size: small;
    color: white;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .od1, .od2 {
        order: initial;
        width: 80%;
        padding: 0;
    }
    .items {
        flex-direction: column;
        align-items: center;
    }
    .purchase {
        width: 80%;
    }
    .emailname {
        flex-direction: column;
    }
    .emailname > input {
        width: 80%;
    }
    .aboutus {
        padding: 5%;
    }
    .part {
        flex-direction: column;
    }
    .thatimage, .story {
        width: 100%;
        text-align: center;
    }
    nav > ul > li > a {
        font-size: 1em;
        padding: 1%;
    }
}