/* COLOR SHEME (CHANGE WHEN DONE FIXING CODE)
Leaf Green (#4CAF50 or #79C45E)

Herb Green (#2E7D32)

Soft Beige (#F5F1E3)

Warm Brown (#8B6F47)
*/

/* general formatting */
@font-face {
    font-family: HandCaps;
    src: url(font/Handcaps.otf);
}
body {
    font-family: HandCaps,Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    color: black;
}
a:hover {
    color: dodgerblue;
    background-color: yellow;
}
img {
    border: 1px solid #F5F1E3;
    border-radius: 15px;
}
.center {
    text-align: center;
}

/* navbar */
nav {
    padding: 0;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 0%;
}
nav > ul > li > a {
    background-color: #8B6F47;
    color: white;
    padding: 2% 0%;
    text-decoration: none;
    font-size: 2em;
}

@keyframes wonderhoy {
        from {background-color: #2E7D32; color: white;}
        to {background-color: #79C45E; color: #8B6F47;}
    }

nav > ul > li > a:hover {
   animation: wonderhoy 1s forwards; 
}
nav > ul > li > a.logo {
    animation: none;
}
nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
img[src="images/gpt-bioshield-image.png"] {
    border: none;
}
a.logo:hover {
   background-color: transparent;
}

.logo {
    user-select: none;
    align-self: flex-end;
    background-color: transparent;
}


/* hero image stuff */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8B6F47;
    color: white;
    text-shadow: #000 1px 1px 1px;
}
.heroimage {
    width: 100%;
}
.od1 {
    order: -1;
    padding-left: 4%;
    width: 50%;

}
.od2 {
    order: 1;
    width: 40%;
}
.boutton {
    text-shadow: none;
    background-color: white;
    font-size: 1.25em; 
    padding: 2% 10%;
    text-decoration: none;
    color: black;
    width: 40%; 
    height: 35px;
}

/* purchase info */
.items {
    display: flex;
    flex-wrap: wrap;
}

.buybutton {
    background-color: lightgreen;
    width: 100%;
    height: 3vh;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    border: black 2px solid;
    margin: 0% 1%;
}
.buybutton:hover {
    background-color: #79C45E;
    color: #FFF;
}
.seeall {
    width: 90%;
    padding: 15px 30%;
    height: 50px;
    background-color: limegreen;
    text-decoration: none; 
    color: white;
}
.all {
    margin: 25px 0px;
}

/* contact us form */

.emailname {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emailname > input {
    width: 42.5%;
    height: 30px;
    margin: 10px;
    font-size: 1.5em;
}
input[id="complaint"] {
    width: 80%;
    height: 150px;
    margin: 10px;
    font-size: 1.5em;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8B6F47;
    padding: 3%;
}
.submit {
    width:60%;
    height: 50px;
    color: white;
    background-color: #F5F1E3;
    border-width: 1px;
    font-size: 2em;
}

.space {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
img[alt="cute bug smiling illustration free vector"] {
    width: 50%;
    margin-top: 20px;
    border: none;
}

/* contact us */

.formfile {
    font-size: 1.75em;
    font-style: oblique;
    justify-self: center;
    text-align: center;
    background-color: antiquewhite;
    width: 50%;
    padding: 3%;
    margin: 10% 0%;
}
.formfile > a {
    background-color: lime;
}
.social {
    display: flex;
    padding: 3%;
    background-color: #2E7D32;
    margin: 5% 0%;
}
.social > img {
    height: 50px;
    border: none;
}


/* about us page */
.aboutus {
    background-image: url(images/nicenature-notthehorse.webp); 
    padding: 13%; 
    margin: auto;
    font-size: larger; 
    text-align: center;
}
.autext {
    background-color: #F5F1E3; 
    opacity: 0.8; 
    padding: 2%;
}
.part {
    display: flex;
}
.part3 > .thatimage {
    order: -1;
}
.part4 > .story {
    text-align: end;
}
.part5 > .story {
    text-align: right;
}
.part6 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    justify-self: center;
}
.part6 .story {
    width: 100%;
    background-color: #79C45E;
}
.thatimage {
    width: 60%;
}
.story {
    width: 40%;
    opacity: 0.8;
    padding: 2%;
    align-self: center;
}
.part {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #F5F1E3;
}
.part:nth-child(even) {
    background-color: #F5F1E3;
}
.part:nth-child(odd) {
    background-color: #79C45E;
    color: white;
}


/* footer  */
footer {
    background-color: darkgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 75px;
    margin-top: 15%;
}
small {
    font-size: small;
    color: white;
}

/* product page 2 */
#products {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2rem;
}

.product {
    border: solid 1px black;
    background-color: #79C45E;
    padding: 0.5rem;
    transition: box-shadow 500ms ease;
    position: relative;
}

.product:hover,
.cartItem:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.prodImage {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.prodPrice::before {
    content: "$ ";
}

.prodPrice {
    display: inline-block;
    margin-top: 0.5em;
}

.prodBtn,
.removeBtn,
#emptyCart {
    display: block;
    float: right;
    background-color: dodgerblue;
    color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 500ms ease;
}

.prodBtn:hover {
    background-color: black;
    color: yellow;
}

.removeBtn,
#emptyCart {
    background-color: black;
}

.qtyBtn {
    background-color: gray;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    margin: 0 0.2em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.qtyBtn:hover {
    background-color: darkgray;
}


.removeBtn:hover,
#emptyCart:hover {
    background-color: red;
}

#emptyCart {
    margin-top: 0.5em;
}

#cart {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 25vh;
    gap: 1em;
    margin-bottom: 2rem;
}

.cartItem {
    border: solid 1px black;
    background-color: white;
    padding: 0.5rem;
    transition: box-shadow 500ms ease;
    display: flex;
    gap: 1em;
    position: relative;
}

.cartItem img {
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    flex-shrink: 1;
}

.cartItem .cartItemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItem .cartItemPricing {
    display: flex;
    justify-content: space-between;

}

.cartTotal {
    text-align: right;
}

header,
h2 {
    max-width: 1280px;
    margin: 1rem auto 0;
}

nav,
footer {
    background: #79C45E;
    color: white;
    padding: 2rem;
    text-align: right;
}

nav>a {
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    margin-left: 1rem;
}

nav>a:hover {
    color: yellow;
    background-color: rgb(26, 118, 209);
}

#cartItemCount::before {
    content: " (";
}

#cartItemCount::after {
    content: ")";
}

#cartItemCount {
    font-weight: bold;
}

footer {
    text-align: center;
}





@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .od1, .od2 {
        order: initial;
        width: 80%;
        padding: 0;
    }
    .items {
        flex-direction: column;
        align-items: center;
    }
    .purchase {
        width: 80%;
    }
    .emailname {
        flex-direction: column;
    }
    .emailname > input {
        width: 80%;
    }
    .aboutus {
        padding: 5%;
    }
    .part {
        flex-direction: column;
    }
    .thatimage, .story {
        width: 100%;
        text-align: center;
    }
    nav > ul > li > a {
        font-size: 1em;
        padding: 1%;
    }
    #products {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }

    .cartItem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cartItem img {
        width: 50%;
        aspect-ratio: 1 / 1;
    }

    .cartItem .cartItemInfo {
        align-items: center;
    }

    .cartItem .cartItemPricing {
        flex-direction: column;
        gap: 0.5em;
    }
}
@media (max-width: 768px) {
    #products {
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5rem;
    }
}

